/*=====================LIST POLICY=====================*/
.vnt-recruiment .topContent {
	background-color: #b1d137;
}
.vnt-recruiment .topContent .c2 {
	padding: 60px 20px
}
.vnt-recruiment .topContent blockquote {
    display: inline-block;
    position: relative;
    padding-top: 50px;
    border: none;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;    
}
.vnt-recruiment .topContent blockquote:before {
    position: absolute;
    left: 0;
    top: 0;   
    font-size: 36px;
	line-height: 30px;
	font-family: "FontAwesome";
	content: '\f10d'
}
.vnt-recruiment .topContent .img {
	text-align: center;
	width: 100%
}
.vnt-recruiment .topContent .img img {
	width: 100%
}
.policy-list .item {
	margin-top: 30px
}
.policy {
	width: 100%;
	padding: 25px;
	background-color: #f5f5f5 
}
.policy .imgWrap {
	width: 220px
}
.policy .img {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 68%
}
.policy .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 50%;
    max-height: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.policy:hover .img img {
	-webkit-transform: translate(-50%,-50%) scale(1.1);
    -moz-transform: translate(-50%,-50%) scale(1.1);
    -o-transform: translate(-50%,-50%) scale(1.1);
    -ms-transform: translate(-50%,-50%) scale(1.1);
    transform: translate(-50%,-50%) scale(1.1);
}
.policy .tend {
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	margin-bottom: 5px
}
.policy .link {
	padding-top: 20px
}
.policy .active_hidden {
	text-align: right;
}
.policy .active_hidden .txt {
	font-size: 13px;
	line-height: 25px;
	color: #879f2a;	
	text-transform: uppercase;
}
.policy .active_hidden .txt span:after {
	display: none;
}
.policy .active_hidden .txt:before {
	display: inline-block;
	font-family: FontAwesome;
	content: '\f0aa';
	font-size: 15px;
	line-height: 25px;
	color: #879f2a;
	margin-right: 8px
}
.w_content_show_hidden .content_show_hidden {
    height: 60px;
    overflow: hidden;
    position: relative;
}
/*=====================LIST RECRUIMENT=====================*/
.vnt-recruiment .rec-title {
	margin: 20px 0 50px;    
    border-bottom: 1px solid #dcdcdc;    
}
.vnt-recruiment .rec-title .title {
	position: relative;
	display: inline-block;
	top: 15px;
	padding: 0 10px;
	background-color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
	color: #9b885d;
	font-weight: 700;
}
.grid-content {
	margin-bottom: 30px
}
.rec-list .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2
}
.rec-list .grid:nth-child(2n+1) {
	background-color: #e5e5e5
}
.rec-list .grid ~ .grid {
	border-top: 1px solid #FFFFFF
}
.rec-list .row-th {
    background-color: #b1d137!important;
    line-height: 18px;	
	text-transform: uppercase;
}
.rec-list .col {
    padding: 11px 15px;
    text-align: center;  
}
.rec-list .col:not(:last-child) {
    font-weight: 600
}
.rec-list .col, .rec-list .col a {
	color: #000000;
}
.rec-list .col a:hover {
	text-decoration: underline;
}
.rec-list .row-th .col {	
	color: #FFFFFF;	
	font-weight: 400;
	text-align: center!important;
	white-space: nowrap;
}
.rec-list .col:nth-child(2) {
	text-align: left!important;
	padding-left: 40px
}
.rec-list .col:first-child {
	width: 6%;
	flex-shrink: 0
}
.rec-list .col:nth-child(2) {
	width: 38%;	
}
.rec-list .col:nth-child(3) {
	width: 11%;	
	flex-shrink: 0
}
.rec-list .col:nth-child(4) {
	width: 17%;	
	flex-shrink: 0
}
.rec-list .col:nth-child(5), .rec-list .col:nth-child(6) {
	width: 14%;
	flex-shrink: 0
}
.rec-list .link .text {
	font-style: italic;
	color: #555555;
	font-size: 14px
}
.rec-list .link .text:after {
	font-family: FontAwesome;
    content: '\f105';
    font-size: 15px;
	line-height: 26px;    
	margin-left: 5px
}
.vnt-recruiment .pagination {
	padding-top: 0
}
/*=====================DETAIL RECRUITMENT=====================*/
.generation-info {	
	margin-bottom: 20px
}
.generation-info .item, .generation-info .item .in {	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.generation-info .item {
    padding: 7px 0;
    border-top: 1px solid #ededed
}
.generation-info .tit {	
	font-weight: 700;	
	width: 120px;
	flex-shrink: 0;	
}
.generation-info .info {
	padding-left: 10px
}	
.detail-rec .address-apply li {
    padding-left: 28px;
    position: relative;
    margin-bottom: 5px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    line-height: 28px;
}
.detail-rec .address-apply li:before {
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top:2px;
    width: 18px;
    text-align: center;
	font-size:14px;
	line-height:25px;
    color: #b2d237;
}
.detail-rec .address-apply li.address:before {
	content: '\f015'
}
.detail-rec .address-apply li.phone:before {
	content: '\f095'
}
.detail-rec .address-apply li.email:before {
	content: '\f0e0'
}
.detail-rec .address-apply li.map:before {
	content: '\f041'
}
.detail-rec .address-apply li.map a {
	color: #f47721;
	text-decoration: underline;
}
.detail-rec .address-apply li.map a:hover {
	text-decoration: none;
}
.design-map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0!important;
}
.design-map iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.form-apply .title {
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px
}
/*=====================FORM=====================*/
.form-apply .form-group {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.form-apply label {
	font-weight: 400;
	margin: 0
}
.form-apply .txt {
	font-size: 14px;
	padding-top: 9px;
    white-space: nowrap;
}
.form-apply .txt .required {
    color: #e80000;
}
.form-apply .colRight {
    line-height: 40px;
}
.form-apply .form-control {
    background: #FFFFFF;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #d1d1d1;    
    height: 40px;
    padding: 9px 12px;
}
.form-apply .chosen-container-single .chosen-single {
    border: 1px solid #d1d1d1;  
}
.form-apply .form-group.sex input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.form-apply .form-group.sex span:first-child {
    margin-right: 30px;
}
.form-apply .birthday {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0 -4px;
}
.form-apply .birthday .dropdown-list {
    width: calc(100%/3);
    padding: 0 4px
} 
.form-apply .birthday .chosen-container .chosen-results {
    padding: 4px;
    white-space: nowrap;
}
.form-apply .txtAttend {
    font-size: 13px;
    line-height: 22px;
    color: #999;
    padding: 5px 0
}
.form-apply textarea.form-control {
    height: 205px;
    resize: none;
}
.form-apply .bottom-group .colRight {
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    justify-content: space-between;
	}
.form-apply .input-group {
    width: 200px;
    margin-right: 30px
}
.input-group-img {
    width: 90px;
    white-space: nowrap;
    padding-left: 0;
    display: table-cell;
    vertical-align: middle;
}
.form-apply .link .button-w {
    width: 100%;
    padding: 9px 25px; 
    font-size: 14px;
	line-height: 20px;
	font-weight: 700;   
}
.panel-group .panel {    
    border-radius: 0;
}
.panel-group .panel+.panel {
    margin-top: 30px;
}
.panel-default>.panel-heading {    
    border-color: #dddddd;
    padding: 0
}
.panel-default > .panel-heading a {
    position: relative;
    display: block;
    background-color: #eeeeee;
    padding: 8px 40px 8px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;    
    text-transform: uppercase;
}
.panel-default > .panel-heading a:after {
    position: absolute;
    top: 8px;
    right: 18px;
    width: 14px;
    height: 25px;
    display: inline-block;
    -moz-transition: -moz-transform .25s linear;
    -ms-transition: -ms-transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    -o-transition: -o-transform .25s linear;
    transition: transform .25s linear;
    font-family: FontAwesome;
    font-size: 24px;
    color: #666666;
}
.panel-default > .panel-heading a[aria-expanded="true"]:after {
    content: '\2212';
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.panel-default > .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 20px;
    border: none;
}
.panel-group p {
	padding: 2px 0
}
.panel-group hr {
	margin-top: 15px;
	margin-bottom: 15px
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media (min-width: 391px) {
	.form-apply .txt {
	    width: 120px;
	    flex-shrink: 0;
	    padding-left: 10px;	    
	}
	.form-apply .colRight {
		width: calc(100% - 120px)
	}	
}
@media (min-width: 481px) {
	.generation-info .info {
		padding-left: 25px
	}		
}
@media all and (min-width: 641px) {
	.policy {
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	}
	.policy .imgWrap {	    
	    flex-shrink: 0;
	    margin-right: 35px
	}
	.policy .caption {
		width: calc(100% - 220px)
	}
}
@media all and (min-width: 768px) {
	.generation-info {
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	}
	.generation-info .col {
		width: 50%;
		flex-shrink: 0;
	}
	.generation-info .col:last-child .item {
		justify-content: flex-end;
	}
	.generation-info .col:last-child .item .info {
		width: 130px;
	}
}
@media all and (min-width: 992px) {
	.vnt-recruiment .topContent, .vnt-recruiment .topContent .col {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;	    
	}
	.vnt-recruiment .topContent {
	    flex-direction: row-reverse;	    	    	    
	}
	.vnt-recruiment .topContent .col {
	    width: 50%;
	    align-items: center;
	}
	.vnt-recruiment .topContent .img {
	    left: 50%;
	    height: 100%
	}
	.vnt-recruiment .topContent .img img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover
	}
	.vnt-recruiment .topContent .c2 {
	    padding-left: 20px;
	    padding-right: 6%;
	    right: 50%;
	}   
	.rec-list .col ~ .col {
		border-left: 1px solid #FFFFFF
	} 
 	.form-apply .content-form {
		padding: 10px 0;
	}	
}
@media all and (min-width: 1200px) {
	.vnt-recruiment .topContent .c2 {
	    padding-left: calc((100% - 1170px)/2);	    
	}
}
@media all and (max-width: 991px) {	
	.vnt-recruiment .topContent .c2 {
		padding: 30px 20px
	}
	.vnt-recruiment .topContent blockquote {   
	    font-size: 14px;
	    line-height: 24px;
	    margin-bottom: 10px
    }		
    .link .txt {
	    font-size: 16px;
	}
	.rec-list {
		font-size: 14px;
	}
	.rec-list .grid {
		padding: 5px 0;
		position: relative;
	}
	.rec-list .grid:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 150px;
		content: '';
		background-color: #b2d237
	}
	.rec-list .row-th .col {
		font-weight: 400!important	
	}	
	.rec-list .col {
	    width: 100%!important;
	    text-align: left!important;
	    padding: 6px 15px;
	    padding-left: 165px!important;
	    position: relative;
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 400!important
	}	
	.rec-list .col:first-child, .rec-list .col:nth-child(2) {
		font-weight: 600!important
	}
	.rec-list .col:before {
	    content: attr(data-cont);
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 150px;
	    padding: 0 15px;
	    font-size: 13px;
		line-height: 36px;
	    color: #FFFFFF;
	    font-weight: 400;
	    text-transform: uppercase;	    
	}
	.panel-default > .panel-heading a {
		font-size: 15px
	}
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
    	font-size: 14px;
    	padding: 15px 20px
    }	  
    .form-apply textarea.form-control {
    	height: 110px
    }  
}
@media all and (max-width: 640px) {
	.policy .imgWrap {
		margin-bottom: 20px
	}
	.policy .link {
	    padding-top: 10px;
	}
	.form-apply .bottom-group .colRight {
		display: block;
	}
	.form-apply .input-group {
		width: 100%;
		margin-bottom: 30px
	}
}
@media all and (max-width: 540px) {
	.rec-list .col:first-child {
	    width: 10%;
	}
	.rec-list .col:nth-child(3) {
	    width: 50%;
	}
}
@media all and (max-width: 390px) {
	.form-apply .txt {
		padding-top: 3px;
		margin-bottom: 5px
	}    
    .form-apply .form-group {
		display: block;
	}
	.form-apply .txt, .form-apply .colRight {
		width: 100%
	}
	.form-apply .bottom-group, .form-apply .link {
		padding: 0
	}    
	.form-apply .sex .colRight {
		line-height: 25px
	}
}
@media all and (max-width: 360px) {
	.rec-list .grid:before {
		width: 140px
	}
	.rec-list .col {
		padding-left: 155px!important
	}
	.rec-list .col:before {
		font-size: 12px;
		width: 140px
	}
}
@media all and (min-width: 992px) and (max-width: 1100px) {	
	.form-apply textarea.form-control {
		height: 155px
	}
	.form-apply .bottom-group .colRight {
		display: block;
	}
	.form-apply .input-group {
		width: 100%;
		margin-bottom: 10px
	}
}